.el-form {
    margin: 0 auto;
}

.el-form-item {
    margin-bottom: 0px;
    padding: 1px;
}

.el-form-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.el-form-table input {
    width: 100px;
    line-height: 35px;
    padding: 5px;
    color: #000;
}

/* .el-form-table .el-input__inner{
      font-weight: 600;
    } */
.el-form-table .el-input__wrapper {
    padding: 0px;
    border-radius: 0;
    box-shadow: unset;
    border: 1px solid #7d7d7d;
}

.el-form-table .el-input {
    color: #000;
    width: 100px;
}

.el-form-table tr:hover {
    background: #FFC107 !important;
}

.el-form-table td {
    padding-left: 3px;
    border: 1px solid #7d7d7d !important;
}

.el-form-table-label {
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    width: 120px;
    background-color: #f8d096;
    font-size: 14px;
    color: #000;
}

.el-form-table-tr .el-checkbox {
    height: var(--el-checkbox-height, 28px) !important;
    margin-right: 10px !important;

}

table tr:nth-child(even) {
    background-color: #e9e9e9 !important;
}

.el-form-table-tr {
    color: #000;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

.el-form-table-tr .el-form-item__content>span {
    margin-right: 5px;
}

.el-form-table-tr .el-form-item__content>select {
    width: 60px;
    height: 25px;
    line-height: 25px;
    margin-right: 16px;
    border-radius: 0 !important;
}

.el-form-table-tr .el-input__prefix-inner {
    display: none !important;
}

.el-form-table-footer {
    text-align: left;
    padding-left: 5px;
    line-height: 40px;
}

.el-form-table-footer .game_box_topbtn {
    padding: 10px 18px;
}

.el-form-table_result_input {
    margin: 5px;
    width: 100px !important;
    height: 15px;
    font-weight: 600;
    line-height: 15px;
}

.el-form-table_result_inputs {
    margin: 5px;
    width: 70px !important;
    height: 15px;
    font-weight: 600;
    line-height: 15px;
}

.el-form-item__error {
    color: red;
    font-size: 12px;
    left: 220px;
    line-height: 30px;
    padding-top: 0;
    position: absolute;
    top: 0;
}

.el-form-item__label-wrap {
    display: flex;
    padding: 5px 5px 10px 5px;
}

.el-form-item.is-error .el-input__wrapper,
.el-form-item.is-error .el-input__wrapper.is-focus,
.el-form-item.is-error .el-input__wrapper:focus,
.el-form-item.is-error .el-input__wrapper:hover,
.el-form-item.is-error .el-select__wrapper,
.el-form-item.is-error .el-select__wrapper.is-focus,
.el-form-item.is-error .el-select__wrapper:focus,
.el-form-item.is-error .el-select__wrapper:hover,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner.is-focus,
.el-form-item.is-error .el-textarea__inner:focus,
.el-form-item.is-error .el-textarea__inner:hover {
    box-shadow: unset !important;
    border: 1px solid red !important;
}

.el-select-dropdown__item.is-selected {
    color: #000 !important;
    font-weight: unset !important;
}

.el-select-dropdown__item.is-selected:hover {
    background: #ffcb04 !important;
}

.mb-4 .el-select__selected-item {
    border-right: 1px solid;
}

.mb-4 .el-select__selected-item:nth-last-child(2) {
    border-right: 0px;
}

.mb-4 .el-select__selected-item:last-child {
    border-right: 0px;
}

.mb-4 .el-select__caret {
    color: #000;
}

.el-popper .el-select-dropdown__header {
    padding: 0px 10px;
}

.mb-4 .el-tag.is-closable {
    padding-left: 2px;
    padding-right: 0px;
}

.mb-4.el-tag {
    padding: 0px;
}

.el-tabs__item {
    padding: 0 6px !important;
}

.el-tabs__content {
    padding: 0px !important;
}

.el-tabs__header {
    margin: 0px !important;
}

.mb-4 .el-select__wrapper {
    box-shadow: unset !important;
    border-radius: 2px !important;
    padding: 0px 11px !important;
    border: 1px solid;
    width: 210px;
    min-height: 24px !important;
    background-color: #fff;
}

.mb-4 .el-select__wrapper span {
    margin-right: 0px;
    font-weight: normal;
}

.mb-4 .el-select__wrapper .el-tag__close {
    display: none;
}

.mb-4 .el-select__wrapper .el-select__selection {
    gap: 0px !important;
}

.mb-4 .el-select__selection .el-tag .el-tag__content {
    padding-right: 2px;
}

.mb-4 .el-tag.el-tag--info {
    color: #000 !important;
    background: unset;
    height: 10px;
    border-radius: 0px;

}

.el-page-header__header {
    background: #fafafa !important;
}

.el-page-header__content {
    font-size: 14px !important;
}

.mb-4 .el-checkbox span {
    margin-right: 0px !important;
}

.mb-4 .el-checkbox {
    margin-right: 10px;
    font-weight: 600;
}

.reportbox .el-table .cell {
    padding: 0px 5px !important;
}

.reportbox .el-table__header .cell {
    text-align: center;
}



.el-button--primary {
    border: 1px solid #1855A5 !important;
    border-radius: 1px;
    height: 32px;
    cursor: pointer;
    color: #fff !important;
    background: linear-gradient(#5A8AC6, #2965B5) !important;
    padding: 14px 10px !important;
    border-radius: 2px;
    font-weight: 600 !important;
}

.el-button--small {
    padding: 14px 10px !important;
}

.el-button:hover {
    background: linear-gradient(#7ca6db, #336fbf) !important;
}




.el-checkbox {
    color: #000;
    --el-checkbox-checked-text-color: var(--el-color-black) !important;
    --el-checkbox-checked-bg-color: #99d4f9 !important;
    --el-checkbox-checked-icon-color: #000000 !important;
}

.el-checkbox__label {
    padding-left: 3px !important;
}


.el-dropdown {
    margin: 0px !important;
    /* color: #fff !important; */
}

.el-dialog {
    background: #f6f6f6;
    padding-bottom: 50px !important;
    overflow: hidden !important;
}

.el-dialog__body {
    color: #000 !important;
    height: 100%;
    overflow: auto !important;
}

.el-dialog__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1001;
    /* 确保头部在最上层 */
    padding-bottom: 0px !important;
}

.el-dialog__headerbtn {
    font-size: var(--el-message-close-size, 30px) !important;
    height: 30px !important;
    top: -10px !important;
    width: 30px !important;
}

.el-icon_btn {
    margin-right: 10px;
    padding: 6px;
    background: rgb(214 214 214);
}

.el-scrollbar__bar.is-horizontal {
    height: 16px;
}

.el-scrollbar__bar.is-vertical {
    width: 15px !important;
}

.el-scrollbar {
    --el-scrollbar-bg-color: #1f1f1f !important;
    --el-scrollbar-hover-bg-color: #171717 !important;
}

.el-popup-parent--hidden {
    width: 100% !important;
}

.el-select--large .el-select__wrapper {
    min-height: 20px !important;
    padding: 6px 2px !important;
}

.el-message__content {
    font-size: 18px !important;
    line-height: 25px !important;
}

.dissuffix .el-select__suffix {
    display: none !important;
}

.el-divider--vertical {
    margin: 0 3px;
}

.el-button>span {
    font-weight: 600;
}

.el-dropdown {
    line-height: unset !important;
}



.el-popper {
    --el-popper-border-radius: 0px !important;
}

.el-popper__arrow {
    display: none !important;
}

.el-popper.is-pure {
    margin-top: -10px !important;
}

/* .el-dropdown-menu {
    background-color: #2e7edf !important
  } */

.el-dropdown-menu__item {
    color: #ffffff !important;
    padding: 5px 12px !important;
    border-bottom: 1px solid #2873cf;
    font-weight: 600;
}

.el-dropdown__popper.el-popper {
    background: #2e7edf !important;
    border: 0px solid #2e7edf !important;
}

.el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: #FF9800 !important;
    color: #ffffff !important;
}

.el-radio {
    margin-right: 10px !important;
}

.el-dialog__headerbtn .el-dialog__close {
    color: red;
}

.mb4_top .el-date-editor .el-input__wrapper {
    padding: 0px 4px !important;
    border-radius: 2px;
    border: 1px solid;
    box-shadow: unset;
}

.mb4_top .el-input__prefix {
    margin-right: 0px !important;
}

.el-select__wrapper {
    align-items: center;
    background-color: var(--el-fill-color-blank);
    border-radius: var(--el-border-radius-base);
    box-shadow: 0 0 0 1px var(--el-border-color) inset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    gap: 6px;
    line-height: 20px !important;
    min-height: 20px !important;
    padding: 5px 3px !important;
    position: relative;
    text-align: left;
    min-width: 70px !important;
    transition: var(--el-transition-duration);
}

.psc_odds_box_chacktab .el-checkbox {
    margin-right: 5px !important;
}

.psc_odds_box_chacktab .el-checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.psc_odds_box_chacktab .el-checkbox__label {
    padding-left: 0px;
}

.el-dialog .psc_odds_box_list {
    height: 600px;
}

.el-dialog .psc_odds_box_list ul {
    width: 100% !important;
    height: 600px;
    max-width: 100%;
}

.el-dialog .psc_odds_box_list ul li {
    height: 59px;
}

.el-dialog .psc_odds_box_list .ball {
    height: 59px;
    line-height: 59px;
}

.psc_odds_box_chacktab .el-checkbox-group {
    margin: 0px 5px;
}

.monitor_table .el-table__header .cell {
    text-align: center;
}

.el-message-box__message {
    width: 100%;
}

.el-message-box__message .trheader td {
    background: #2161b3 !important;
    color: #fff !important;
}

.el-message-box__message td {
    font-weight: 600;
    text-align: center;
    color: #000;
}

.el-message-box__header.show-close {
    height: 20px !important;
    text-align: center;
    border: 1px solid #7d7d7d;
    background: rgb(248, 208, 150);
    /* background: linear-gradient(#fefefe, #b9d8ec) !important; */
}

.el-message-box__title {
    line-height: 32px !important;
}

.el-message-box__header.show-close span {
    font-size: 13px;
    font-weight: 600;

}

.el-message-box {
    padding-top: 30px !important;
}

.el-message-box__headerbtn {
    font-size: var(--el-message-close-size, 28px);
}

.el-message-box__headerbtn .el-message-box__close {
    color: red !important;
}

.el-message-box__headerbtn .el-message-box__close:hover {
    background-color: #ffcb04;
}

.titlem {
    background: linear-gradient(#fefefe, #b9d8ec) !important;
}

.titlem span {
    margin: 0 5px;
}